@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 6px;
}

body {
    font-family: "Manrope", sans-serif;
}

/* Utilities */
.text-center {
    text-align: center;
}

header {
    width: 100%;
    background-color: #fff;
    padding: 0 24px;
    position: sticky;
}

header .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.mobile-nav .nav-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 3.5rem;
    font-weight: 600;
}

.mobile-nav .nav-logo span {

    font-weight: 800;
    color: #fff;
    height: 40px;
    width: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

main {
    padding: 40px 24px;
}

.section-heading {
    padding: 8px 16px;
    border-radius: 25px;
    background-color: #EEEFF1;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: inline-block;
    color: #334153;
}

@keyframes colorFlicker {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.8;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.8;
    }
}

.section-heading-icon {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.section-heading-icon::before {
    content: "";
    height: 8px;
    width: 8px;
    background-color: #00C753;
    animation: colorFlicker 1.5s infinite;
    border-radius: 50%;
}

.section-title {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.section-paragraph {
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 24px;
    color: #4B5769;
}

.btn {
    width: 100%;
    text-align: center;
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 3rem;
    background-color: #fff;
    color: #1E2938;
    border: 1px solid #1E2938;
    text-transform: capitalize;
}

.btn-primary {
    background-color: #1E2938;
    color: #fff;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}