 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     font-size: 10px;
 }

 body {
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: 1rem;
 }

 h2,
 p,
 h1 {
     text-align: center;
 }

 h2 {
     background-color: #d9d9d9;
 }

 p {
     background-color: blue;
     color: #fff;
 }

 h1 {
     background-color: #000;
     color: #fff;
 }

 .heading-one {
     margin: 10px 20px 30px 40px;

     margin: 10px 20px;

     margin: 10px 20px 30px;

     margin: 10px;
 }

 .heading-one {
     border: 5px solid red;
     padding-top: 10px;
     padding-bottom: 20px;
     padding-left: 30px;
     padding-right: 40px;
     height: 60px;
 }

 .heading-two {
     margin-top: 10px;
     margin-bottom: 20px;
     margin-left: 30px;
     margin-right: 40px;
 }