 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800display=swap');

 /* HTML tags as css selector */
 html {
     font-size: 10px;
 }

 body {
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: 1rem;
     color: blue;
 }

 p {
     font-size: 1.8rem;
     line-height: 1.6;
 }

 img {
     object-fit: cover;
     border-radius: 50%;
     height: 300px;
     width: 300px;
     border: 1px solid #d9d9d9;
     padding: 3px;
 }

 .ingredient-heading {
     color: blue;
     text-decoration: underline;
 }

 .ingredient-heading {
     color: yellow;
     text-decoration: underline;
 }

 h2 {
     color: red;
     font-size: 20px;
     text-align: center;
     background-color: lightgray;
 }

 #ingredient {
     color: orange;
 }

 h2#ingredient {
     color: black;
 }



 /* Class selector */


 .instruction-heading {
     font-size: 50px;
 }

 /* ID selector */
 #step-1 {
     color: green;
 }